In [1]:
import pandas as pd

## Задание_1 ##

In [8]:
df_movies = pd.read_csv(r"C:\Users\Sergofan\Downloads\ml-latest-small\ml-latest-small\movies.csv")

In [62]:
df_ratings = pd.read_csv(r"C:\Users\Sergofan\Downloads\ml-latest-small\ml-latest-small\ratings.csv")

In [60]:
df_merge = pd.merge(df_ratings, df_movies, how ='right', on = 'movieId' )

In [61]:
def rating_2 (param):
    if param <= 2:
        return 'низкий рейтинг'
    elif param <= 4:
            return 'средний рейтинг'
    elif param == 4.5 or param == 5:
        return 'высокий рейтинг'
    else:
        return 'непонятный рейтинг'

In [63]:
df_merge['class'] = df_merge['rating'].apply(rating_2)

In [64]:
df_merge.head()

,userId,movieId,rating,timestamp,title,genres,class
0,7.0,1,3.0,8.518667e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
1,9.0,1,4.0,9.386292e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
2,13.0,1,5.0,1.331380e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,высокий рейтинг
3,15.0,1,2.0,9.979383e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,низкий рейтинг
4,19.0,1,3.0,8.551901e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг

## Задание_2 ##

In [43]:
df_keywords = pd.read_csv(r"C:\Users\Sergofan\Downloads\ml-latest-small\ml-latest-small\keywords.csv")

In [13]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [79]:
def find_region (row, geo_data):
    for reg in geo_data:
        for city in geo_data[reg]:
            if city in row:
                return reg
    return "undefined"

In [88]:
df_keywords['region'] = df_keywords['keyword'].apply(find_region, geo_data = geo_data)

In [94]:
df_keywords[(df_keywords['region'] != 'undefined')]

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
564                погода в санкт петербурге  292489    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
...                                      ...     ...             ...
99590  авито ярославль автомобили с пробегом    3673           Центр
99634   северпост новости мурманской области    3606    Северо-Запад
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[747 rows x 3 columns]

In [95]:
df_keywords['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

### Задание_3 ###

In [2]:
data_movies = pd.read_csv(r"C:\Users\Sergofan\Downloads\ml-25m\ml-25m\movies.csv")
data_ratings = pd.read_csv(r"C:\Users\Sergofan\Downloads\ml-25m\ml-25m\ratings.csv")

In [3]:
df = pd.merge(data_movies, data_ratings, how = 'left', on = 'movieId')

In [5]:
years = list(range(1950, 2012))

In [21]:
def production_year (data_):
    for year in years:
        if str(year) in data_:
            return year
    return 1900

In [22]:
df['year'] = df['title'].apply(production_year)

In [40]:
df.groupby('year')['rating'].mean().sort_values(ascending=False).head()

year
1957    3.999492
1954    3.985693
1972    3.956477
1962    3.929445
1952    3.895315
Name: rating, dtype: float64